<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports :: Update 24x7</title>
    <link rel="stylesheet" href="/frontend/css/bootstrap.min.css">
    <link rel="stylesheet" href="/frontend/css/styles.css">
</head>
<body>
    <%- include('../frontend/partials/header') %>
        <main>
            <div class="container marketing">
                <h1 class="text-center mb-4">Sports</h1>

                <% if (newsList && newsList.length> 0) { %>
                    <% newsList.forEach((news, index)=> { %>
                        
                        <div class="row featurette">
                            <div class="col-md-7">
                                <h2 class="featurette-heading fw-normal lh-1">
                                    <%= news.title %>
                                </h2>
                                <p class="lead">
                                    <%= news.description %>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <img src="<%= news.imageUrl %>">
                            </div>
                        </div>
                        <hr class="featurette-divider">
                        <% }); %>
                            <% } else { %>
                                <p>News not available</p>
                                <% } %>
 
            </div>
            <%- include('../frontend/partials/footer') %>
        </main>
</body>
</html>